@import url(/css/reset.css);
@import url(/css/media.css);
@font-face {
    font-family: "Panchang";
    src: url("./fonts/Panchang-Variable.ttf");
}
@font-face {
    font-family: "Lufga";
    src: url("./fonts/LufgaMedium.ttf");
}



body{
    background-color: #000;
    color: #fff;
    font-family: "Panchang";
    overflow: hidden; 
    position: relative;
}

.svg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: overlay;
}

.noise{
    position: fixed; /* чтобы не двигалась при прокрутке */
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw; /* ширина — вся ширина экрана */
    height: 100vh; /* высота — вся высота экрана */
    pointer-events: none; /* чтобы не мешало кликам */
    object-fit: cover; 
}

.header-circle-one {
    position: absolute;
    filter: blur(100px);
    animation: moveCircle 30s infinite ease-in-out;
}

.header-circle-two {
    position: absolute;
    filter: blur(100px);
    animation: moveCircleTwo 30s infinite ease-in-out;
}

@keyframes moveCircle {
    0%   { transform: translate(0vw, 0vh); }
    15%  { transform: translate(60vw, 10vh); }
    30%  { transform: translate(20vw, 60vh); }
    45%  { transform: translate(70vw, 70vh); }
    60%  { transform: translate(40vw, 30vh); }
    75%  { transform: translate(80vw, 50vh); }
    100% { transform: translate(0vw, 0vh); }
}


@keyframes moveCircleTwo {
    0%   { transform: translate(80vw, 80vh); }
    20%  { transform: translate(50vw, 60vh); }
    40%  { transform: translate(10vw, 30vh); }
    60%  { transform: translate(30vw, 10vh); }
    80%  { transform: translate(70vw, 40vh); }
    100% { transform: translate(80vw, 80vh); }
}

.crypto-effect{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    object-fit: cover;
}

/* header */
ul{
    padding-top: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    font-family: "Panchang";
   
}

.burger-menu{
    display: none;
}


.nav-link.active{
    background-color: #1F1F1F;
    padding: 16px 24px;
    position: relative;
    z-index: 2;
}

ul li{
    cursor: pointer;
    z-index: 5;
}


.nav-list a{
    color: #fff;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
}

.header-title{
    font-size: 80px;
    font-family: "Lufga";
    text-align: center;
    line-height: 1;
    mix-blend-mode: color-dodge;
    color: #fff;
    z-index: 1;
    animation: headerTitleHideUp 1s ease-in-out;
}


/* header title animation */
@keyframes headerTitleHideUp{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header-btn{
    padding: 16px 24px;
    border: 1px solid white;
    font-size: 14;
    margin-top: 32px;
    display: flex;
    align-items: center;
    animation: headerBtnHideUp 1.5s ease-in-out;
}


@keyframes headerBtnHideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header-btn p{
    font-size: 14px;
}

.header-btn:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}


.header-circle{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #10B981;
    margin-left: 10px;
}



/* projects */
.projects{
padding-top: 160px;
padding-bottom: 160px;
}

.project-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card{
    border: 1px solid white;
    padding: 32px;
    width: 100%;
}

.project-type{
    text-align: end;
    color: #878787;
}

.project-name{
    padding-top: 200px;
    font-size: 40px;
    font-weight: 500;
    text-align: end;
}



/* process */

.process {
    background-color: #C82D0B;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    z-index: 2;
    background-image: url(/images/noise.svg);
    display: flex;
    justify-content: center;  /* по горизонтали */
    align-items: center;      /* по вертикали */
}

.process-text {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color: #000;
    gap: 57px; /* чтобы был отступ между строками */
    text-align: left;
    font-weight: 500;
}

.process-num{
    font-size: 50px;
    gap: 57px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-right: 32px;
    color: #000;
    font-weight: 500;
}

.process-row{
    display: flex;
    flex-direction: row;
}

.step-img{
    position: absolute;
    width: 40%;
    right: -20%;
}

.step-img-two{
    position: absolute;
    width: 10%;
    left: 0;
}



/* expertise */

.expertise{
padding-top: 160px;
padding-bottom: 155px;
display: flex;
justify-content: center;
align-items: center;
}

.expertise-row{
display: flex;
flex-direction: row;
gap: 5px;
margin-bottom: 5px;
}

.expertise-card.first{
background-color: #141414;
height: 337px;
width: 60%;
padding: 30px 24px;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
background-image:
 url(/images/noise.svg),
 url(/images/expertise-elippse-1.svg);
 background-size: cover, cover;
 background-position: center, center;
 background-repeat: repeat, no-repeat;
z-index: 4;
transition: all ease-in-out 500ms;
}

.expertise-card.first:hover{
    transform: translateY(-10px);
    cursor: pointer;
}



.expertise-card.second{
    background-color: #141414;
    height: 337px;
    width: 40%;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/images/noise.svg), url(/images/expertise-ellipse-2.svg);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    z-index: 4;
    transition: all ease-in-out 500ms;
}   

.expertise-card.second:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.expertise-card.third{
    background-color: #141414;
    height: 337px;
    width: 40%;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:url(/images/noise.svg), url(/images/expertise-ellipse-3.svg);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    background-position: center;
    z-index: 4;
    transition: all ease-in-out 500ms;
}  

.expertise-card.third:hover{
    transform: translateY(-15px);
    cursor: pointer;
}

.expertise-card.four{
    background-color: #141414;
    height: 337px;
    width: 60%;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:url(/images/noise.svg), url(/images/expertise-ellipse-4.svg);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    z-index: 4;
    transition: all ease-in-out 500ms;
}  

.expertise-card.four:hover{
    transform: translateY(-15px);
    cursor: pointer;
}


.expertise-card-title{
font-size: 24px;
font-weight: 500;
width: 300px;
}

.expertise-card-subtitle{
    font-size: 16px;
}



/* stack */

.stack{
    padding-top: 160px;
    padding-bottom: 160px;
}

.stack-img{
    position: relative;
    z-index: 2;
}



/* education */
.education{
    padding-top: 160px;
    padding-bottom: 160px;
}

.ue-img{
    position: relative;
    z-index: 10;
    width: 100vh;
    margin: 0 auto;
}

.when{
    position: relative;
    z-index: 10;
}
.education-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
}

.education-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
