@media screen and (max-width: 768px) {
    .header-nav {
      display: none;
    }
  
    .burger-menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 30px;
      height: 25px;
      position: absolute;
      right: 30px;
      top: 40px;
      cursor: pointer;
      z-index: 101;
    }
  
    .burger-menu span {
      display: block;
      height: 4px;
      width: 100%;
      background: white;
      border-radius: 2px;
      transition: 0.3s;
    }
  
    .burger-list {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      background-color: #000;
      height: 100vh;
      width: 70%;
      padding: 40px 20px;
      z-index: 100;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: 10px 0 0 10px;
    }
  
    .burger-list.active {
        display: flex;
        position: absolute;
        width: 100vh;
        height: 100vh;
    }
  
    .burger-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        display: flex;
        width: 100%;
    }
  
    .burger-list li {
      margin: 15px 0;
    }
  
    .burger-list a {
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
    .project-row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .project-name{
        font-size: 30px;
    }
    .expertise-card-title {
        font-size: 20px;
        font-weight: 500;
        width: 280px;
    }
    .expertise-card-subtitle {
        font-size: 12px;
    }
    .expertise-card.first{
        width: 50%;
    }
    .expertise-card.second{
        width: 50%;
    }
    .expertise-card.third{
        width: 50%;
    }
    .expertise-card.four{
        width: 50%;
    }
  }